.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 1px solid transparent;
    color: red;
    margin: 5px;
    border-radius: 8px;

    transition: 0.2s ease-in;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
